<!DOCTYPE html>
<html lang="en">

<head>
    <title>Important stuff</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="style.css">
    <script data-main="js/main" src="js/require.js"></script>

</head>


<body class="body">
      {{{body}}}

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

 <script>

 document.addEventListener('keydown', function(event) {
    const key = event.key; // const {key} = event; in ES6+
    if (key === "Escape") {
        window.close();
    }
});

</script>


    <!-- Javascript -->
    <script src="js/main.js" type="text/javascript"></script>

</body>

</html>